:root {
  --clr-purple-100: rgb(41, 4, 67);
  --clr-purple-200: rgb(36, 6, 97);
  --clr-purple-200: #6500a4;

  --clr-pink-100: #ec07a7;
  --clr-pink-200: #d60dbf;
  --clr-background: rgb(1, 1, 25);

  --clr-text-main: rgba(221, 221, 221, 0.642);
  --clr-yellow: yellow;
  --clr-white: white;
  --clr-blue: #0505b6;


  --bg-gradient-100: linear-gradient(160deg, rgb(36, 6, 97) 20%, rgb(83, 4, 103), #ec07a7 90%);
  --bg-gradient-200: linear-gradient(23 5deg, purple, pink);
  --clr-form-bg: rgb(12, 9, 28);
}