@use "./variables" as *;
@use "./colors.scss" as *;
@use "./type.scss" as *;


@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $pad-200;
}

@mixin flex-row($justify: center, $wrap: nowrap) {
  @include flex();

  flex-flow: row $wrap;
  justify-content: $justify;
}

@mixin flex-column($align: start) {
  @include flex();

  flex-direction: column;
  align-items: $align;
}

@mixin input-reset() {
  width: 100%;
  padding: $pad-150;
  border-radius: $br-light;
  border: none;
  outline: none;
  background: none;
}

@mixin button-reset() {
  border: none;
  outline: none;
  background: none;
  border-radius: 100vmax;
}